{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Газоанализаторы ПЦ</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/sovisu.css' %}">
    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'js/flot/jquery.flot.min.js' %}"></script>
    <script src="{% static 'js/flot/jquery.flot.resize.min.js' %}"></script>
    <script src="{% static 'js/triangle.js' %}"></script>
</head>
<body>
   <header class="featured">
            <div class="content-wrapper">
                <div class="float-left">
                    <p class="site-title">Показания газоанализаторов ПЦ</p>
                </div>
                <div class="float-right">
                    <nav>
                        <ul id="menu">
                            <li></li>
                            <li></li>
                            <li></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <div id="body">
            <section class="content-wrapper main-content clear-fix height_full">
              <div id="dv_triangle" class="float-left half_width height_full">
                  <canvas class="triangle_canvas" id="triangle"></canvas>
              </div>
                <div class="float-right half_width height_full">
                    <div id="ch_n" class="float-left chart_size"></div>
                    <div id="ch_m" class="float-left chart_size"></div>
                    <div id="ch_u" class="float-left chart_size"></div>
                </div>
            </section>
        </div>

<script type="text/javascript">
    $(document).ready(function () {
        var data = { n:0.29, m:0.29, ug:0.29, n_ug: 2, v_ug : 0.9, n_m : 0, v_m : 0.6, n_n: 1, v_n : 0.9};
        drawtriangle(data);
        var d1 = [];
        for (var i = 0; i < 14; i += 0.5) {
            d1.push([i, Math.sin(i)]);
        }

        var d2 = [[0, 3], [4, 8], [8, 5], [9, 13]];

        // A null signifies separate line segments

        var d3 = [[0, 12], [7, 12], null, [7, 2.5], [12, 2.5]];

        $.plot("#ch_n", [d1, d2, d3]);
        $.plot("#ch_m", [d1, d2, d3]);
        $.plot("#ch_u", [d1, d2, d3]);
        gettriangle('/visu_ajax_gzd' , '{{ csrf_token }}');

    });
</script>
</body>
</html>